<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/blogmeta' %>
  <title>A Literary Journey</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <%= render 'layouts/nav' %>
  <div class="container">
    <%= render 'layouts/notice' %>
    <%= yield %>
  </div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
</body>
</html>
